.card-body {
  background-color: lightgray;
}

.marg {
  margin-right: 150px;
  margin-bottom: 20px;
  margin-left: 2px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  min-height: 50px;
  max-height: 70px;
}

#bio {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
}

.card-img-top {
  min-height: 230px;
  max-height: 285px;
}
#home {
  margin-top: 35px;
  width: 50%;
  height: 50%;
  float: left;
  margin-left: 100px;
}
#form {
  float: right;
  margin-right: 300px;
  margin-top: 25px;
}
